{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Acceiul{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1>Billettrie</h1>
        </div>
    </div>

    <div class="row center">
        <div class="col-lg-6  ">

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {{ form_errors(form) }}

            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.email) }}


            {{ form_end(form) }}


        </div>
    </div>
    </div>
    <form action="StipePayement.php" method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_rugT1oot7BOra49CLzXDUZFQ"
                data-amount="999"
                data-currency="EUR"
                data-name="Stripe.com"
                data-description="Widget"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-zip-code="true">

        </script>
    </form>
{% endblock %}