<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Confirmation réservation</title>
    <style>
        body {
            background: #cccccc;
        }

        .bloc-ticket-recap {

            border-bottom: 2px solid #cccccc;
            padding: 0px 5px 0px 5px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .contenu {
            background-color: #ffffff;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 50px;
            border-top: 5px solid #C82D00;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }

        .recapitulatif {
            padding: 10px;
        }

    </style>
</head>
<body background-color="#cccccc">


<div class="contenu">
    <img src="{{ image }}"/><span>
    <p>
        Le Musée du Louvre vous remercie de votre réservation
        et vous souhaite une agréable visite.
    </p>
    <p>
        Cet email servira de billet d'entrée. Veillez a bien le conserver
        pour être en mesure de le présenter lors de la visite.
    </p>
    <p>
        N'oubliez pas vos justificatifs d'identité et autres justificatifs de réduction.
    </p>
    <div class="recapitulatif">
        <h2>Récapitulatif :</h2>
            <div>
                <p>
                    <strong>Vous avez réservé pour le :
                        <span>{{ commande.DateCommande|date("d/m/Y") }}</span>
                    </strong>
                </p>
                {% if commande.TypeTarif == true %}
                    <p class="recap">
                    <span class="fa fa-exclamation-triangle"></span>
                    Billet demi-journée. Vous pouvez entrer à partir de 14h
                </p>
                {% endif %}
                <p class="recap">
                    <strong>Email : </strong>
                    {{ client.Email }}
                </p>
                <p>
                    <strong>Numéro de commande :
                        {{ commande.NumCommande }}
                    </strong>
                </p>
            </div>
        <h3>Billets :</h3>
        <div class="tickets-bord">
            {% for visiteur in visiteurs %}
                <div class="bloc-ticket-recap">
                    <p>
                        <strong>Nom : </strong>
                        {{ visiteur.Nom }}
                    </p>
                    <p>
                        <strong>Prénom : </strong>
                        {{ visiteur.Prenom }}
                    </p>
                    <p>
                        <strong>Date de naissance : </strong>
                        {{ visiteur.DateDeNaissance|date('d/m/Y') }}
                    </p>
                    <p>
                        <strong>Pays : </strong>
                        {{ visiteur.Pays }}
                    </p>
                    {% if visiteur.Reduction == true %}
                        <p>
                        <span class="fa fa-exclamation-triangle"></span>
                        Tarif réduit. Un justificatif sera demandé a l'entrée
                    </p>
                    {% endif %}
                    {% if commande.TypeTarif == true %}
                        <p>
                            Billet demi-journée
                     </p>
                    {% endif %}
                    <p>
                        <strong>Prix du billet : </strong>
                        {{ visiteur.Prix }} €
                    </p>
                </div>
            {% endfor %}
        </div>
        <p>
            <strong>Prix Total :
                <span>{{ commande.PrixTotal }} €</span>
            </strong>
        </p>

    </div>


</body>
</html>
