{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Acceiul{% endblock %}

{% block body %}



    <div class="row">
        <div class="col-lg-12">
            <h1>Billettrie</h1>
        </div>
    </div>

    <div class="row center">


        {{ form_start(form, {'attr': {'class': 'col-lg-6'}}) }}

        <h3>Renseigner chaque billet :</h3>

        {{ form(form) }}

        {{ form_widget(form.Suivant, {'attr': {'class': 'btn btn-primary'}}) }}


        {{ form_end(form) }}


    </div>




{% endblock %}